:root {
  --bg: #f3f3f3;
  --colorPrimario: #000418;
  --colorSecundario: #ff8900;
  --colorTerciario: #d9e1ed;
  --colorAcento: #3b60ff;
  --colorBlanco: #ffffff;
  --colorBorde: #dcdcdc;
  --paddingSite: 15px 18px;
}
.contenido_pag {
  position: relative;
}
.banner_info {
  padding: 15px 18px;
}

.banner {
  background: var(--colorTerciario);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40% auto;
}

.info_baner {
  position: relative;
  padding: 40px;
  overflow: hidden;
}

.info_baner h1 {
  font-size: 50px;
}

#colorTex {
  color: #3b60ff;
}

.info_baner p {
  line-height: 1.5;
}

.btnsOpcio_banner {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}

.btnsOpcio_banner span {
  padding: 0;
  margin: 0;
}

.btnsOpcio_banner button {
  padding: 8px 16px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.btnsOpcio_banner button:active {
  scale: 0.99;
}
.btnBannerPage_Product {
  background: var(--colorPrimario);
  color: var(--colorBlanco);
}

.btnBannerPage_Nov {
  border: solid 1px var(--colorPrimario);
}

.images_banner {
  position: relative;
  overflow: hidden;
}

.images_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
}

.menu_categorias {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  padding: var(--paddingSite);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.menu_categorias::-webkit-scrollbar {
  display: none;
}

.categoria {
  border-radius: 10px;
  width: 190px;
  min-height: 150px;
  max-height: 200px;
  max-width: 250px;
  box-shadow: 0 0 0 1px gainsboro;
  background: var(--colorBlanco);
}

.categoria {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  place-items: center;
  padding: 8px;
}

.categoria h4 {
  font-size: 15px;
}

.categoria img {
  width: 70px;
  height: 100px;
  object-fit: cover;
}

.list_productos {
  padding: var(--paddingSite);
}

.encabezado {
  display: flex;
  justify-content: space-between;
}

.encabezado div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--colorPrimario);
  cursor: pointer;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.CardProducto {
  max-width: 500px;
  min-width: 300px;
  margin-top: 15px;
  background: var(--colorBlanco);
  border-radius: 10px;
  box-shadow: 0 0 1px gainsboro;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.CardProducto {
  display: grid;
  grid-template-columns: 40% 1fr;
  align-items: center;
}

.CardProducto img {
  object-fit: cover;
  height: 150px;
}

.btnFavorito {
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
}

.btnFavorito i {
  font-size: 26px;
  transition: 0.3 ease-in-out;
  cursor: pointer;
}

.btnFavorito i:active {
  scale: 1.1;
}

.calificacionProduct {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0;
  font-size: 18px;
}

.calificacionProduct i {
  font-size: 15px;
}

.calificacionProduct p {
  font-size: 15px;
}
.btnAgregarCarrito {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: right;
}

.btnAgregarCarrito button {
  display: flex;
  place-items: center;
  background: var(--colorPrimario);
  color: var(--colorBlanco);
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.2 ease-in;
  cursor: pointer;
}

.btnAgregarCarrito button:active {
  scale: 0.98;
}
