:root {
  --bg: #fbfdff;
  --colorPrimario: #000418;
  --colorSecundario: #ff8900;
  --colorTerciario: #d9e1ed;
  --colorAcento: #3b60ff;
  --borderInput: #2b97fc;
  --colorGrisClaro: #f5f5f5;
  --colorBlanco: #ffffff;
  --colorDegradadoNaranja: #ffefdd;
  --colorBorde: #dcdcdc;
  --paddingSite: 15px 18px;
  --paddingCotenedores: 8px 15px;
  --paddingResponsive: 15px 10px;
  --paddingTargetas: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--colorBlanco);
  color: var(--colorPrimario);
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
}

a {
  color: #0e0e0e;
  text-decoration: none;
}

button {
  border: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

select {
  cursor: pointer;
}

select:hover {
  background: transparent;
}

select,
::picker(select) {
  appearance: base-select;
}

::picker(select) {
  background: #fdfeff;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.11);
}

section option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
}

section option:hover {
  background: #fae9d4;
  color: rgb(255, 148, 8);
}

/*===============*/

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: var(--bg);
}

.sidebar {
  transition: width 0.3s ease-in-out;
  background-color: var(--colorBlanco);
  width: 250px;
  height: 100vh;
  position: relative;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sidebar img {
  cursor: pointer;
}

.sidebar_logo {
  padding: 15px 24px;
  display: flex;
  justify-content: space-between;
}

.sidebar_logo div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.layout_toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.layout_toggle span {
  font-size: 1.4rem;
  color: var(--colorPrimario);
}

/* Sidebar*/

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--colorBlanco);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar_logo {
  padding: 18px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.sidebar_logo div {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
}

.opciones_sidebar {
  padding: 0 12px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.opcionSidebar {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 12px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  white-space: nowrap; /* Impide que el texto cree saltos de línea */
}

.opcionSidebar .material-symbols-outlined {
  min-width: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcionSidebar p {
  margin-left: 12px;
  font-size: 14px;
  transition: opacity 0.2s ease;
}

.opcionSidebar:hover,
.opcionSidebar.select {
  background-color: var(--colorTerciario);
  color: var(--colorPrimario);
}

/*sidebar footer*/

.sidebar-footer {
  transition: all 0.3s ease-in-out;
  background-color: var(--colorBlanco);
  margin-top: auto;
  padding: 12px;
  border-top: 1px solid var(--colorBorde);
}
.sidebar-footer p {
  font-size: 15px;
  color: var(--colorPrimario);
  margin-top: 4px;
  white-space: nowrap;
}

.logout_button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 44px;
  padding: 0 12px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.logout_button:hover,
.logout_button.select {
  background-color: var(--colorTerciario);
  color: var(--colorPrimario);
}

.sidebar.active {
  width: 78px;
}

.sidebar.active .opcion-text {
  display: none;
}

/* Centrar los íconos del menú */
.sidebar.active .opciones_sidebar {
  padding: 0 10px;
}

.sidebar.active .opcionSidebar {
  justify-content: center;
  padding: 0;
}

.sidebar.active .logout_button {
  justify-content: center;
  padding: 0;
}
.sidebar.active .opcionSidebar p {
  display: none;
}

.sidebar.active .sidebar_logo {
  justify-content: center;
  padding: 18px 0;
}

/* Mostrar pantallas activas */

.content.show,
.interfaz_productos.show,
.interfaz_categorias.show,
.interfaz_pedidos.show,
.interfaz_productView.show {
  opacity: 1;
  pointer-events: auto;
}

/* Contenido dasboard */

.dinamico_panatallas {
  position: relative;
}

.content {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  position: relative;
  max-height: 88vh;
  overflow-y: auto;
}

.topbar {
  padding: 15px;
  background: var(--colorBlanco);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  justify-content: space-between;
  border-bottom: 1.5px solid gainsboro;
}

.topbar-right {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.topbar-content h4 {
  margin-bottom: 4px;
}
.topbar-content p {
  font-size: 14px;
}

.notificaciones {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border-right: 1px solid var(--colorBorde);
  padding: 5px 26px;
}
.notificaciones p {
  position: absolute;
  font-weight: 600;
  top: -5px;
  left: 64%;
  transform: translateX(-50%);
  font-size: 11px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--colorSecundario);
  color: var(--colorBlanco);
  width: 18px;
  height: 18px;
}

.cuenta {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.circle_cuenta {
  display: grid;
  font-weight: 600;
  place-content: center;
  background: var(--colorTerciario);
  color: var(--colorBlanco);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 15px;
  color: var(--colorPrimario);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.info_usuario p {
  margin-top: 2px;
  font-size: 13px;
}

.abrir_menu_perfil {
  background: transparent;
  font-size: 15px;
}

.targetas_resumen {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 15px;
}

.targeta {
  display: flex;
  gap: 18px;
  align-items: center;
  background: var(--colorBlanco);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(233, 233, 233);
}

.targeta-info p {
  font-size: 19px;
  margin-bottom: 4px;
}

.targeta-icono {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: var(--colorDegradadoNaranja);
}

.targeta-icono span {
  font-size: 24px;
  color: var(--colorSecundario);
}

.targeta-info button {
  display: flex;
  align-items: center;
  background: var(--colorGrisClaro);
  color: var(--colorPrimario);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-primario p,
.btn-secundario p,
.btn-terciario p,
.btn-cuaternario p {
  font-size: 14px;
  font-weight: 500;
}

/*Cajas vista previea*/
.contenedores_vista_previa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 8px 15px;
  height: 400px;
}

.vista_previa {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(233, 233, 233);
  background-color: var(--colorBlanco);
  border-radius: 10px;
  padding: var(--paddingTargetas);
}

.encabezado_caja {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  margin-bottom: 12px;
}

.encabezado_caja button {
  background: transparent;
  font-size: 14px;
  color: var(--colorAcento);
  font-weight: 500;
  cursor: pointer;
}

.btn-actions {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-actions span {
  font-size: 20px;
  color: #4b5563;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table td {
  padding: 12px 8px;
  font-size: 14px;
  color: #4b5563;
  border-bottom: 1.5px solid gainsboro;
  vertical-align: middle;
}

.estado_pedido {
  background: #ebf2ff;
  color: #3b60ff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.list_product_stock {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.info_produc_stock {
  display: flex;
  gap: 12px;
  align-items: center;
}

.info_produc_stock img {
  height: 60px;
}

.text_info_product p {
  margin-top: 4px;
  font-size: 14px;
}

.abril_stock {
  display: flex;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

/*Acciones rápidas*/

.contenedor_acci_rapidas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 8px 15px;
}

.caja_accion {
  background: var(--colorBlanco);
  padding: var(--paddingTargetas);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(233, 233, 233);
}

.caja_accion p {
  font-size: 14px;
  margin-top: 8px;
}

.icono_accion {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background: #ebf2ff;
  color: #3b60ff;
  margin-bottom: 15px;
}

.btn_accion {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  gap: 8px;
  background: var(--colorGrisClaro);
  color: var(--colorPrimario);
  border: solid 2px #dcdcdc;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 15px;
}

.btn_accion:active {
  scale: 0.98;
}

/* Interfaz productos */
.interfaz_productos {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 12;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  max-height: 88vh;
  overflow-y: auto;
  padding: 15px 18px 0px 18px;
}

.topBarra_product,
.topBarra_categorias,
.topBarra_pedidos {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}

.infoProductos p,
.infoCategoria p,
.infoPedidos p,
.headerSección p {
  margin-top: 5px;
  font-size: 14px;
}

.topBarra_product button {
  padding: 8px 10px;
  background: var(--colorPrimario);
  border-radius: 8px;
}

.topBarra_product a {
  text-decoration: none;
  color: var(--colorBlanco);
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}

.topBarra_product i {
  color: var(--colorBlanco);
}

.content_productos {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto 38%;
  gap: 15px;
}

.columna_izquier {
  overflow: hidden;
  max-height: 75vh;
  overflow-y: auto;
  background: var(--colorBlanco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.columna_izquier::-webkit-scrollbar {
  display: none;
}

.header_izquier {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 15px;
}

.header_izquier p {
  font-size: 15px;
  font-weight: 600;
}

.header_izquier span {
  color: var(--colorPrimario);
}

.agregarProduct {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.agregarProduct label {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
}

#titulo,
#id_product,
#marca_product {
  width: 100%;
  margin-top: 8px;
  padding: 15px 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 0 1px var(--colorBorde);
  margin-bottom: 12px;
  font-size: 14px;
}

.cajaInput {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 12px;
  box-shadow: 0 0 0 1px var(--colorBorde);
  border-radius: 6px;
  overflow: hidden;
}

.cajaInput input {
  width: 100%;
  border-radius: 6px;
  padding: 12px 10px;
  border: none;
  font-size: 14px;
}

.cajaInput span {
  padding: 12px 10px;
  text-align: center;
  color: #a1a1a1;
  background: var(--colorGrisClaro);
  height: 100%;
  border-right: 1px solid var(--colorBorde);
}

#titulo:focus,
#id_product:focus,
#marca_product:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--colorAcento);
}

.precio:focus,
.precioOriginal:focus {
  outline: none;
}

.cajaInput:focus-within {
  box-shadow: 0 0 0 2px var(--colorAcento);
}

.cajaSelectCateg {
  padding: 4px 10px;
  border-radius: 6px;
  margin-top: 8px;
  box-shadow: 0 0 0 1px var(--colorBorde);
  margin-bottom: 12px;
  font-size: 14px;
}
.select_Categoria {
  width: 100%;
  padding: 10px 6px;
  border: none;
}

.select_Categoria:focus {
  outline: none;
}

.cajaSelectCateg:focus-within {
  box-shadow: 0 0 0 2px var(--colorAcento);
}
.agregarProduct p {
  font-size: 13px;
  color: #a1a1a1;
  margin-bottom: 12px;
}

.descripcion_Product {
  grid-column: 1 / -1;
}
.descripcion_Product textarea {
  margin-top: 10px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  min-width: 100%;
  min-height: 100px;
  max-width: 100%;
  max-height: 180px;
  box-shadow: 0 0 0 1px var(--colorBorde);
}

.descripcion_Product textarea:focus {
  outline-color: var(--colorAcento);
}

.descripcion_Product p {
  font-size: 14px;
  font-weight: 600;
}

.columna_derecha {
  overflow: hidden;
  overflow-y: auto;
  max-height: 75vh;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.columna_derecha::-webkit-scrollbar {
  display: none;
}

.seccion_derecha {
  width: 100%;
  background: var(--colorBlanco);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.btnsGuadarCancelar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.btnCancelar,
.btnGuardar {
  transition: 0.2s ease-in-out;
  padding: 12px 8px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}
.btnGuardar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--colorPrimario);
  color: var(--colorBlanco);
}

.btnCancelar:active,
.btnGuardar:active {
  scale: 0.98;
}

.seccion_derecha h4,
.seccion_derecha h4 {
  font-size: 15px;
  margin-bottom: 15px;
}

.encabezado_derecha {
  font-size: 14px;
  font-weight: 600;
  color: #4b5563;
}

.cajaSelectEstado {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--colorBorde);
}

.cajaSelectEstado select {
  width: 100%;
  padding: 6px 5px;
  border: none;
  font-size: 14px;
}

.cajaSelectEstado select:focus {
  outline: none;
}

.info_opcion {
  margin: 5px 0 15px 0;
  font-size: 13px;
  color: #6d6d6d;
}

.cleckBoxDestaca {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}

.cleckBoxDestaca p {
  font-size: 14px;
}

.input_Derecha {
  margin-top: 8px;
  width: 100%;
  padding: 14px 10px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid var(--colorBorde);
}

.input_Derecha:focus,
.dimencionesProduct input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--colorAcento);
}

.dimencionesProduct {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
}

.dimencionesProduct input {
  width: 100%;
  padding: 14px 10px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid var(--colorBorde);
}

.dimencionesProduct p {
  margin-top: 6px;
  font-size: 15px;
  color: #4b5563;
}

.selecImagnPrncipal {
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/*Seleccionar img*/

.previsualizarIMG {
  padding: 28px 8px 15px 8px;
  position: relative;
  background: #f5f7ff;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.previsualizarIMG p {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 8px;
  background: var(--colorPrimario);
  color: var(--colorBlanco);
  font-size: 10px;
}

#imgPrincipal {
  display: none;
}

.cajaSubirIMG {
  display: grid;
  place-items: center;
  background: #edf0ff;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  border: 2px dashed #a5bad8;
  height: auto;
}

.header_CajaImg {
  display: grid;
  place-items: center;
}

.header_CajaImg span {
  font-size: 40px;
  color: var(--colorAcento);
  margin-bottom: 10px;
}

.header_CajaImg p {
  margin-top: 5px;
  font-size: 14px;
}

.btnIMGProduct {
  width: 260px;
  text-align: center;
  margin-top: 30px;
  padding: 12px;
  border-radius: 8px;
  background: var(--colorAcento);
  color: var(--colorBlanco);
  display: flex;
  place-items: center;
  gap: 8px;

  cursor: pointer;
}
.btnIMGProduct span {
  font-size: 28px;
}
