:root {
  --colorSucces: #28a745;
  --colorError: #dc3545;
  --colorWarning: #ffc107;
  --colorInfo: #007bff;
}

#toast_contenedor {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toast {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 12px;
  min-width: 300px;
  max-width: 500px;
  background: var(--colorBlanco);
  padding: 10px 12px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid gainsboro;
  border-bottom: 2px solid;

  animation: slideIn 0.3s ease;
}

.toast.saliendo {
  animation: slideOut 0.3s ease;
}

.infoToast {
  display: flex;
  gap: 12px;
}

.icono_Toast {
  display: grid;
  align-items: center;
}
.icono_Toast div {
  display: grid;
  align-items: center;
}
.icono_Toast span {
  font-size: 28px;
  color: #000;
}

.text_toast h5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
}

.text_toast p {
  font-size: 13px;
  color: #868686;
}

.cerrarToast {
  cursor: pointer;
  color: #949393;
  background: transparent;
}

/*Estados Toast*/
.toast.suceso {
  border-bottom-color: var(--colorSucces);
}

.toast.error {
  border-bottom-color: var(--colorError);
}

.toast.aviso {
  border-bottom-color: var(--colorWarning);
}

.toast.info {
  border-bottom-color: var(--colorInfo);
}

.toast.suceso .icono_Toast span {
  color: var(--colorSucces);
}

.toast.error .icono_Toast span {
  color: var(--colorError);
}

.toast.aviso .icono_Toast span {
  color: var(--colorWarning);
}

.toast.info .icono_Toast span {
  color: var(--colorInfo);
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(120%);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}

/*Interfaz catgorías*/

.interfaz_categorias {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 12;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  max-height: 88vh;
  overflow-y: auto;
  padding: 15px 18px 0px 18px;
}

.agregarCateg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--colorPrimario);
  color: var(--colorBlanco);
  transition: 0.1s linear;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.agregarCateg:active {
  scale: 0.99;
}

.cont_cajas_categ {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 38% auto;
  gap: 15px;
}

.clumna_izqui_cat,
.clumna_derech_cat {
  overflow: hidden;
  max-height: 75vh;
  overflow-y: auto;
  background: var(--colorBlanco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.clumna_izqui_cat::-webkit-scrollbar {
  display: none;
}

.forms_categ {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.forms_categ input {
  width: 100%;
  margin-top: 8px;
  padding: 15px 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 0 1px var(--colorBorde);
  margin-bottom: 12px;
  font-size: 14px;
}

.forms_categ input:focus,
.forms_categ textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--colorAcento);
}

.forms_categ label {
  font-size: 15px;
}

.forms_categ textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 80px;
  max-height: 100px;
  margin-top: 8px;
  padding: 15px 10px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 0 1px var(--colorBorde);
  margin-bottom: 12px;
  font-size: 14px;
}

.cont_subirIMg_Categ {
  padding: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#subirIMg_Categ {
  display: none;
}

.caja_subirIMg_Categ {
  display: grid;
  place-items: center;
  background: #edf0ff;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
  border: 2px dashed #a5bad8;
  height: auto;
}

.btnSeledImg_categ {
  width: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.btnSeledImg_categ span {
  font-size: 36px;
  margin-bottom: 12px;
}

.btnSeledImg_categ p {
  margin-top: 10px;
  font-size: 14px;
}

/*Columna de derecha*/
.tabla_exitent_categ {
  width: 100%;
  border-collapse: collapse; /* Une los bordes dobles en uno solo */
  margin: 20px 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.tabla_exitent_categ tr {
  border-bottom: 1px solid #dddddd;
}

.tabla_exitent_categ th {
  padding: 12px 15px;
  font-size: 13px;
  color: #747474;
  font-weight: normal;
}
.tabla_exitent_categ td {
  font-size: 15px;
  padding: 12px 15px;
}

.nombre_categ {
  display: flex;
  gap: 10px;
  place-items: center;
  font-weight: 600;
}

.nombre_categ img {
  height: 60px;
}

.btnsAcciones_categ {
  display: flex;
  gap: 10px;
}

.btnsAcciones_categ button {
  display: flex;
  place-items: center;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.btnsAcciones_categ span {
  font-size: 19px;
}

/*Pantalla Pedidos*/

.interfaz_pedidos {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 12;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  max-height: 88vh;
  overflow-y: auto;
  padding: 15px 18px 0px 18px;
}

.filtros_pedidos {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 10px;
  background: var(--colorPrimario);
  color: var(--colorBlanco);
  border-radius: 8px;
  cursor: pointer;
}

.filtros_pedidos p {
  font-size: 14px;
}

.filtros_pedidos span {
  font-size: 22px;
}

.cards_resumen_pedidos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
}

.resumen_pedidos {
  margin-top: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
  background: var(--colorBlanco);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(233, 233, 233);
  margin-bottom: 5px;
}

.icono_card_pedidos {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: var(--colorDegradadoNaranja);
}
.icono_card_pedidos span {
  font-size: 24px;
  color: var(--colorSecundario);
}

.icono_card_cancelados {
  display: grid;
  place-content: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #ffc4c4;
}

.icono_card_cancelados span {
  font-size: 24px;
  color: #c71414;
}

.pedidos_users {
  min-height: 54vh;
  margin-top: 15px;
  padding: 15px 0 0 0;
  background: var(--colorBlanco);
  border-radius: 10px;
  box-shadow: 0 0 5px gainsboro;
  margin-bottom: 5px;
  overflow: hidden;
}

.tabla_pedidos {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  text-align: left;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.tabla_pedidos tr {
  border-bottom: 1px solid #dddddd;
}

.tabla_pedidos th {
  padding: 12px 15px;
  font-size: 13px;
  color: #747474;
  font-weight: 600;
}
.tabla_pedidos td {
  font-size: 15px;
  padding: 12px 15px;
}

.tabla_pedidos p {
  font-size: 13px;
}

.btns_acciones_pedidos {
  display: flex;
  place-items: center;
  gap: 15px;
}

.btns_acciones_pedidos button {
  display: flex;
  place-items: center;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: var(--colorBlanco);
  border-radius: 8px;
  cursor: pointer;
}

.btns_acciones_pedidos span {
  font-size: 19px;
}

.fila_pedidos.fila_color {
  background: #f1f3f5;
}

.fila_product.fila_color {
  background: #f1f3f5;
}
.estadoPedido,
.categ_ProductList {
  padding: 5px;
  border-radius: 6px;
  background: var(--colorDegradadoNaranja);
  color: var(--colorSecundario);
  box-shadow: 0 0 2px var(--colorSecundario);
}

.btn_moder_pagina_pedidos,
.btn_mover_pagina_productos {
  display: flex;
  gap: 15px;
}

.btn_moder_pagina_pedidos button,
.btn_mover_pagina_productos button {
  display: flex;
  place-items: center;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: var(--colorBlanco);
  border-radius: 8px;
  cursor: pointer;
}

.btn_moder_pagina_pedidos span,
.btn_mover_pagina_productos span {
  font-size: 19px;
}

/* Interfaz lista productos */
.interfaz_productView {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 12;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  max-height: 88vh;
  overflow-y: auto;
  padding: 15px 18px 0px 18px;
}

.conedor_tabla_products {
  min-height: 84vh;
  padding: 15px 0 0 0;
  background: var(--colorBlanco);
  border-radius: 10px;
  box-shadow: 0 0 5px gainsboro;
  margin-bottom: 5px;
  overflow: hidden;
}

.headerSección {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 10px;
}

.acciones_manipulacionList {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.acciones_manipulacionList button {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  border-radius: 10px;
  background: var(--colorBlanco);
  box-shadow: 0 0 3px gainsboro;
}

.inputProductosBuscar {
  padding: 0 12px;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 1px var(--colorBorde);
  border-radius: 6px;
  overflow: hidden;
}

.inputProductosBuscar input {
  width: 100%;
  border-radius: 6px;
  padding: 5px 0;
  border: none;
  font-size: 14px;
}
.inputProductosBuscar input:focus {
  outline: none;
}

.inputProductosBuscar:focus-within {
  box-shadow: 0 0 0 2px var(--colorAcento);
}

.infoProduct_list {
  display: flex;
  gap: 8px;
}

.img_product_list {
  height: 60px;
  width: 60px;
}

.img_product_list img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.tabla_listProduct {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  text-align: left;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.tabla_listProduct tr {
  border-bottom: 1px solid #dddddd;
}

.tabla_listProduct th {
  padding: 12px 15px;
  font-size: 13px;
  color: #747474;
  font-weight: 600;
}
.tabla_listProduct td {
  font-size: 15px;
  padding: 12px 15px;
}

.tabla_listProduct p {
  font-size: 13px;
}

.estadoProduct {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}

.estadoProduct.activo {
  color: var(--colorSucces);
  background: #bcffcb;
}

.estadoProduct.inactivo {
  color: var(--colorError);
  background: #fcdce0;
}

.estadoProduct.borrador {
  color: #f3b808;
  background: #ffefc2;
}
