:root {
  --bg: #fbfdff;
  --colorPrimario: #000418;
  --colorSecundario: #ff8900;
  --colorTerciario: #d9e1ed;
  --colorAcento: #3b60ff;
  --borderInput: #2b97fc;
}

.contenedor_modales {
  transition: 0.2s ease-out;
  opacity: 0;
  pointer-events: none;
  z-index: 14;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}

/*Logica para modales*/

.contenedor_modales.mostrar {
  opacity: 1;
  pointer-events: auto;
}

/*Editar_Categoria*/

.cont_editar_categ {
  scale: 0.8;
  min-width: 450px;
  background: var(--colorBlanco);
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.contenedor_modales.mostrar .cont_editar_categ {
  scale: 1;
}

.cont_headerEdit_cat {
  display: flex;
  gap: 10px;
}
.header_modal_edit_cat {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}

.header_modal_edit_cat h4 {
  font-weight: 500;
}
.cont_headerEdit_cat p {
  margin-top: 6px;
  font-size: 14px;
  color: #474747;
}

.icono_modal {
  padding: 5px 8px;
  display: grid;
  border-radius: 8px;
  background: var(--colorSecundario);
  color: var(--colorBlanco);
  place-items: center;
}

.header_modal_edit_cat button {
  display: grid;
  place-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.2 ease-in-out;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.header_modal_edit_cat button:hover {
  background: #f0f1f5;
}

.editar_categ {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editar_categ label {
  font-size: 14px;
  font-weight: 600;
}
.editar_categ input {
  font-size: 15px;
  padding: 12px 8px;
  border: 1px solid var(--colorBorde);
  border-radius: 8px;
}

.editar_categ input:focus,
.editar_categ textarea:focus {
  outline-color: var(--colorAcento);
}

.editar_categ textarea {
  padding: 12px 8px;
  font-size: 15px;
  border: 1px solid var(--colorBorde);
  border-radius: 8px;
  height: 80px;
  max-width: 520px;
  max-height: 100px;
}

.img_categ_edit {
  padding: 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 20px;
}

.img_categ_edit img {
  width: 100px;
}

.cont_img_catg {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cont_img_catg span {
  color: var(--colorSecundario);
}
.btn_edit_img {
  padding: 8px 12px;
  background: #f0f0f0;
  color: var(--colorPrimario);
  border-radius: 8px;
  cursor: pointer;
}

#edit_img {
  display: none;
}

.btnsAcciones_edit_categ {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  align-items: center;
  justify-content: right;
}

.btnGuardar_edit_categ {
  background: var(--colorPrimario);
  color: var(--colorBlanco);
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.btnCancelar_edit_categ {
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}
